.profile-dashboard-container{
    border: 1px blue solid;
    width: 100%;
    min-width: 600px;
    height: 100vh;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dashboard-content-container{
    border: 1px green solid;
    width: 50%;
    min-width: 600px;
    height: 80vh;
    min-height: 500px;
    display: flex;
    flex-direction: column;    
}

.user-text-container{
    display: flex;
    flex-direction: row;
}

.user-container{
    border: 1px orange solid;
    display: flex;
    flex-direction: row;
    min-width: 35%;
}
.user-container > img {
    min-height: 100%;
    min-width: 30%
}
.name-button-container{
    display: flex;
    flex-direction: column;
}

.profile-edit-button{
    border-radius: 1px;
    background-image: radial-gradient(circle at 50% 0, #ffffff, #f1eceb);
    border: solid 1px #ccc3c3;
    height: 30px;
}

.profile{
    border: 1px red solid;
}

.dashboard-text-box{
    border: 1px red solid;
}

.recommended-friends-container{
    border: 1px red solid;
    width: 100%;
    min-width: 600px;
    height: 100%;
    min-height: 400px;
}
.title-sort-container{
    border: 1px red solid;    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.recommended-text{
    border: 1px red solid;
}
.recommended-text > h1 {
    font-size: 20px;
}

.sort-selector{
    border: 1px red solid;
    align-content: center;
    margin: auto 0;
}

.sortBy{
    border: 1px red solid;
    
}
.recommendation-list{
    display: flex;
}